---
import NavItem from './NavItem.astro';
import { contentCollection, getContentInfo } from '@/utils/contents';
import { parentFolder } from '@/utils/paths';
import { articleExists } from '@/utils/articles';

const currentUrlPath =
  Astro.url.pathname.replace(/\/$/, '').replace(/^\//, '') || '';
const isArticle = await articleExists(currentUrlPath);
const currentFolderPath = isArticle
  ? parentFolder(currentUrlPath)
  : currentUrlPath;

const contents = contentCollection();

// 全カテゴリパスの記事情報を取得
const contentLayer = contents.map((contentInfo) => {
  const parent = parentFolder(contentInfo.path);
  const parentInfo = parent ? getContentInfo(parent) : null;

  return {
    ...contentInfo,
    parent: parentInfo,
    isActive: contentInfo.path === currentFolderPath,
  };
});
---

<aside
  id={'sidebar'}
  class={'sidebar'}
  data-current-path={currentFolderPath}
>
  <div class={'sidebarContainer'}>
    {
      contentLayer.map((layer) => {
        return (
          <div
            class={'sidebarContent'}
            data-path={layer.path}
            data-active={layer.isActive}
          >
            <h2 class={'sidebarTagTitle'}>
              <a href={`/${layer.path}`}>{layer.config.title}</a>
            </h2>

            <div class={'divider'} />
            {layer.parent !== null && (
              <NavItem
                href={`/${layer.parent.path}`}
                label={layer.parent.config.title}
                targetPath={layer.parent.path}
                buttonPosition="left"
              />
            )}

            {layer.config.sections &&
              layer.config.sections.length > 0 &&
              layer.config.sections.map((section) => (
                <section class={'childTags'}>
                  <h3>{section.title}</h3>
                  <ul class={'childTagsList'}>
                    {section.items.map(async (itemPath) => {
                      const target =
                        layer.path !== ''
                          ? `${layer.path}/${itemPath}`
                          : itemPath;
                      const contentInfo = getContentInfo(target);
                      return (
                        <li>
                          <NavItem
                            href={`/${target}`}
                            label={
                              contentInfo ? contentInfo.config.title : itemPath
                            }
                            targetPath={target}
                            isActive={currentUrlPath === target}
                            buttonPosition={
                              (await articleExists(target))
                                ? undefined
                                : 'right'
                            }
                          />
                        </li>
                      );
                    })}
                  </ul>
                </section>
              ))}
          </div>
        );
      })
    }
  </div>
</aside>

<script>
  import { onItemClick } from '@/utils/sidebar';

  function initSidebar() {
    document.querySelectorAll('[data-target-path]').forEach((button) => {
      button.addEventListener('click', onItemClick);
    });
  }

  initSidebar();
  document.addEventListener('astro:page-load', initSidebar);
</script>

<style>
  .sidebar {
    height: 100%;
    width: 250px;
    padding: 1rem 2rem;

    color: var(--text-color);
    background-color: var(--control-background-color);

    display: flex;
    flex-direction: column;

    border-right: 1px solid var(--border-color);
    overflow: hidden;
  }

  .sidebarContainer {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .sidebarContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
      opacity 0.2s ease-out,
      visibility 0.2s ease-out;

    &[data-active='true'] {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &[data-active='true'][data-slide-direction='left'] {
      animation: slideInFromRight 0.2s ease-out;
    }

    &[data-active='true'][data-slide-direction='right'] {
      animation: slideInFromLeft 0.2s ease-out;
    }
  }

  .sidebarTagTitle {
    font-size: 1.2rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .childTags,
  .tagArticles {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .childTags h3,
  .tagArticles h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    color: var(--text-color);
  }

  .childTagsList,
  .tagArticlesList {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    list-style: none;
    margin: 0;
    padding: 0;

    gap: 0.2rem;
  }
</style>
