---
import styles from './Sidebar.module.css';
import NavItem from './NavItem.astro';
import { contentCollection, getContentInfo } from '@/utils/contents';
import { parentFolder } from '@/utils/paths';
import { articleExists } from '@/utils/articles';

const currentUrlPath =
  Astro.url.pathname.replace(/\/$/, '').replace(/^\//, '') || '';
const isArticle = await articleExists(currentUrlPath);
const currentFolderPath = isArticle
  ? parentFolder(currentUrlPath)
  : currentUrlPath;

const contents = contentCollection();

// 全カテゴリパスの記事情報を取得
const contentLayer = contents.map((contentInfo) => {
  const parent = getContentInfo(parentFolder(contentInfo.path));

  return {
    ...contentInfo,
    parent: parent,
    isActive: contentInfo.path === currentFolderPath,
  };
});
---

<aside
  id={'sidebar'}
  class={styles.sidebar}
  data-current-path={currentFolderPath}
>
  <div class={styles.sidebarContainer}>
    {
      contentLayer.map((layer) => {
        return (
          <div
            class={styles.sidebarContent}
            data-path={layer.path}
            data-active={layer.isActive}
          >
            <h2 class={styles.sidebarTagTitle}>
              <a href={`/${layer.path}`}>{layer.config.title}</a>
            </h2>

            <div class={styles.divider} />

            {layer.parent !== null && (
              <NavItem
                href={`/${layer.parent.path}`}
                label={layer.parent.config.title}
                targetPath={layer.parent.path}
                buttonPosition="left"
              />
            )}

            {layer.config.sections?.length > 0 &&
              layer.config.sections.map((section) => (
                <section class={styles.childTags}>
                  <h3>{section.title}</h3>
                  <ul class={styles.childTagsList}>
                    {section.items.map(async (itemPath) => {
                      const target =
                        layer.path !== ''
                          ? `${layer.path}/${itemPath}`
                          : itemPath;
                      const contentInfo = getContentInfo(target);
                      return (
                        <li>
                          <NavItem
                            href={`/${target}`}
                            label={
                              contentInfo ? contentInfo.config.title : itemPath
                            }
                            targetPath={target}
                            isActive={currentUrlPath === target}
                            buttonPosition={
                              (await articleExists(target))
                                ? undefined
                                : 'right'
                            }
                          />
                        </li>
                      );
                    })}
                  </ul>
                </section>
              ))}
          </div>
        );
      })
    }
  </div>
</aside>

<script>
  import { onItemClick } from '@/utils/sidebar';

  function initSidebar() {
    document.querySelectorAll('[data-target-path]').forEach((button) => {
      button.addEventListener('click', onItemClick);
    });
  }

  initSidebar();
  document.addEventListener('astro:page-load', initSidebar);
</script>
