---
import type { Content } from '@/utils/layers';
import { Icon } from 'astro-icon/components';
import { clean } from '@/utils/paths';

const currentPath = clean(Astro.url.pathname);

interface Props {
  content: Content;
  variant?: 'left' | 'right';
}

const { content, variant } = Astro.props;

const ICON_SIZE = 28;
---

<div class={'navContainer'}>
  {
    variant === 'left' && (
      <button type="button" class={'navButton'} data-target-path={content.id}>
        <Icon name={'mdi:menu-left'} size={ICON_SIZE} />
      </button>
    )
  }

  <a
    href={content.id}
    class:list={['navLink', { active: currentPath === content.id }]}
  >
    {content.data.title}
  </a>

  {
    variant === 'right' && (
      <button type="button" class={'navButton'} data-target-path={content.id}>
        <Icon name={'mdi:menu-right'} size={ICON_SIZE} />
      </button>
    )
  }
</div>

<style>
  .navContainer {
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: stretch;
    gap: 0;

    border-radius: 5px;

    background-color: var(--control-background-color);
  }

  .navButton,
  .navLink {
    border: none;

    color: var(--text-color);
    background-color: var(--control-background-color);
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;

    cursor: pointer;

    &:hover {
      color: var(--invert-text-color);
      background-color: var(--invert-background-color);
    }
  }

  .navButton {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navLink {
    flex-grow: 1;

    padding: 0.5rem 1rem;

    text-decoration: none;
    text-align: left;
  }

  .active {
    color: var(--invert-text-color);
    background-color: var(--invert-background-color);
  }
</style>
